.App {
  text-align: center;
  align-items: center;
  color: #Fcc0C5;
  justify-content: center;
  background-image: url('./logo3.jpg');
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: space; /* Do not repeat the image */
  background-size: cover;
}

button {
  background-color: #Fcc0C5;
  border: none;
  color: #404040;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
