@import url('https://fonts.googleapis.com/css?family=Pacifico');

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 2px 16px;
  width: 200px;
  text-align: center;
  justify-content: center;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url('./logo3.jpg');
  height: 100%;
  background-position: center; /* Center the image */
  background-repeat: space; /* Do not repeat the image */
  background-size: cover;
}

.analyticsCard {
  border-radius: 50%;
  background-image: url('./pic.png');
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  color: #404040;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.reflection {
  background-color: white;
  height: 100vh;
}

.title {
  font-size: 4em;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  color: #404040;
}

.innerCard {
  background-color: #Fcc0C5;
  background-color: rgba(255,255,255,0.75);
  color: #404040;
}

.searchForm {
  color: #404040;
  width: 90%;
  border-radius: 5px;
  padding: 8px;
  background-color: rgba(255,192,203,0.5);
  position: 'absolute';
  top: '150px';
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 3px 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #FFC0CB;
  color: #404040;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

input[type=submit]:hover {
  background-color: #C0C0C0;
}

.custom-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.custom-select select {
  padding: 5px 8px;
     width: 100%;
     border: none;
     box-shadow: none;
     background: #FFC0CB;
     /* background-image: none; */
     -webkit-appearance: none;
}

.deleteBtn {
  background-color: #Fcc0C5;
  border: none;
  color: #404040;
  padding: 5px 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.analyticsContent {
  margin-top: 30px;
}
